html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font);
    font-size: var(--font-size);
}

pre, code {
    font-family: var(--mono-font);
    font-size: var(--mono-font-size);
}