:root {
    --background: #fff;
    --foreground: #000;
    --links: #0044A3;
    --font: Arimo, Verdana, Arial, sans;
    --font-size: 0.9rem;
    --mono-font: "Courier Prime", "Courier New", monospace;
    --mono-font-size: 0.87rem;

    /* 21x26px */
    --section-connector: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAaAQMAAABij4UAAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAbW1tBjjpswAAAAJ0Uk5TAP9bkSK1AAAAE0lEQVR4nGNkUHjAyMDAwEhjGgC4og0bCF08YwAAAABJRU5ErkJggg==);
    --section-connector-empty-sec: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAaAQMAAABij4UAAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAbW1tBjjpswAAAAJ0Uk5TAP9bkSK1AAAAGUlEQVR4nGNkUHjAyMDAwEg0rVVGmnoIDQCkzAy7bIroqQAAAABJRU5ErkJggg==);
    --section-connector-expand: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAaAgMAAAAlL//QAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAxQTFRFAAAAbW1t////AAAAye+jmwAAAAR0Uk5TAP///7MtQIgAAAA0SURBVHicY2RgYPnDwMDIAAaMJPBYA/6vAVJsS37FgKgV35Cpn08T9mAIQlRC9ZFsHzIPAPWHGxsCBzMFAAAAAElFTkSuQmCC);
    --section-connector-collapse: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAaAgMAAAAlL//QAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAxQTFRFAAAAbW1t////AAAAye+jmwAAAAR0Uk5TAP///7MtQIgAAAAuSURBVHicY2RgYPnDwMDIAAaMJPBYA/6vAVJsS37FYFI/nybswSEH1Ueyfcg8APV3GxsHebhhAAAAAElFTkSuQmCC);
}