<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">
</head>
<body>
    <header>
        <div class="top-bar" style="{{ top_bar_background }}">
            {{{ top_bar_items }}}
        </div>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>